*{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.all{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 
    "b a"
    "b c";
}

.dilit{
    height: 50px;
    width: 100px;
}

.item{
    display: flex;
}

.ia{
    grid-area: a;
    font-size: x-large;
    font-weight: bold;
    color: rgba(4, 224, 52, 0.932);
    background-color: rgb(35, 6, 68);

    justify-content: center;
    align-items: center;}

.ib{
    grid-area: b;
    background-color: lightseagreen;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ic{
    grid-area: c;
    background-color: pink;

    justify-content: center;
    align-items: center;
}

table{
    height: 50px;
    width: 900px;
}

td,th{
    text-align: center;
    width: 100px;
}

.ins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
}

.inst{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.del{
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.delt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.insercik{
    height: 30px;
    width: 120px;
}